<section class="search">
  <app-star-svg></app-star-svg>
  <div class="search-relative-box">
    <div class="search-box">
      <input type="search" class="medium-font search-input" placeholder="ИТб-222"  />
      <app-search-svg class="search-icon"></app-search-svg>
      <div class="search-results">
        <p class="big-font search-result">Расписание группы</p>
        <p class="big-font search-result">Расписание преподавателя</p>
        <p class="big-font search-result">Расписание аудитории</p>
        <p class="big-font search-result">Расписание экзаменов</p>
      </div>
    </div>
  </div>
  <app-star-svg></app-star-svg>
</section>