<section class="calendar">
  <div class="calendar-month">
    <button class="calendar-month-control" (click)="setPrevMonth()">
      <app-chevron-svg></app-chevron-svg>
    </button>
    <p class="medium-font calendar-month-text">{{getMonthName()}}</p>
    <button class="calendar-month-control rotate180" (click)="setNextMonth()">
      <app-chevron-svg></app-chevron-svg>
    </button>
  </div>

  <div class="weekdays">
    <p class="big-font weekday-name" *ngFor="let weekdayShortName of getWeekdayShortNames()">
      {{weekdayShortName}}
    </p>
  </div>

  <div class="month-weeks">
    <div class="month-week" *ngFor="let week of getMonthWeeks()">
      @for (day of week; track $index) {
        <p class="medium-font month-day"
        [attr.in-other-month]="!day.inCurrentMonth"
        [attr.selected]="day.isSelected" [attr.today]="day.isToday"
        (click)="selectDay(day)">
          {{day.num}}
        </p>
      }
    </div>
  </div>
</section>