<section class="group-and-teacher">
  <div class="medium-font group-and-teacher-text">
    <p>Преподаватель/Группа</p>
    <app-group-svg></app-group-svg>
  </div>

  <div class="group-and-teacher-search">
    <input type="search" class="medium-font group-and-teacher-search-input" (input)="onSearchInput($event)">
    <app-search-svg class="search-icon"></app-search-svg>
  </div>

  <div class="medium-font group-and-teacher-search-results">
    @if (isLoadingResults()) {
      <app-loading></app-loading>
    }
    @else {
      <p
      *ngFor="let result of getResults() | search:getTextToSearch() | alphabetSort; let index as i"
      (click)="selectResult(result)">
        {{result.name | slice:0:20}}
      </p>
    }
  </div>
</section>