<section class="group-and-teacher">
  <div class="medium-font group-and-teacher-text">
    <p>Преподаватель/Группа</p>
    <app-group-svg></app-group-svg>
  </div>

  <div class="group-and-teacher-search">
    <input type="search" class="medium-font group-and-teacher-search-input">
    <app-search-svg class="search-icon"></app-search-svg>
  </div>

  <div class="medium-font group-and-teacher-search-results" *ngIf="showingResults">
    <p *ngFor="let result of results; let index as i" (click)="selectResult(result.id)">{{result.name}}</p>
  </div>
</section>