<section class="menu">
  <div class="menu-option" (click)="openGroupOrTeacherSelectionPopup()">
    <p class="medium-font">Преподаватель/Группа</p>
    <app-group-svg></app-group-svg>
  </div>
  <div class="menu-option" (click)="openColorsPopup()">
    <p class="medium-font">Основной цвет</p>
    <app-color-circle [color]="getCurrentColorName()"></app-color-circle>
  </div>
  <div class="menu-option" (click)="switchTheme()">
    <p class="medium-font">Тема</p>
    <app-moon-svg *ngIf="isLightTheme()"></app-moon-svg>
    <app-sun-svg *ngIf="isDarkTheme()"></app-sun-svg>
  </div>
</section>