.lessons-block {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100svh - 71px - 41px - 53px);
}

.lessons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-color: var(--accent-color) var(--background-color);
}

.free-day-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 12px;
}

.free-day-text {
  color: var(--text-color);
  text-align: center;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.free-day-image {
  width: 169px;
  height: 169px;
  border-radius: 10px;
  color: var(--text-color);
}

.hidden {
  display: none;
}