<header class="header">
  <div class="header-text-block">
    <h1 class="big-font header-text">РАСПИСАНИЕ</h1>
    <p class="medium-font date-text">{{getDateString()}}</p>
  </div>

  <div class="header-button-block">
    <button class="header-button" [attr.toggled]="isShowingCalendar()" (click)="showCalendar()">
      <app-calendar-svg></app-calendar-svg>
    </button>
    <button class="header-button" [attr.toggled]="isShowingMenu()" (click)="showMenu()">
      <app-menu-svg></app-menu-svg>
    </button>
  </div>
</header>