.weekdays-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
  user-select: none;
  overflow: hidden;
}

.weekdays {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weekday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 41px;
  height: 41px;
  border-radius: 6px;
  border: 1px solid var(--accent-color);
  color: var(--text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.weekday[today="true"]:not([selected="true"]) {
  border: 1px solid var(--active-color);
  color: var(--active-color);
  background-color: var(--background-color);
}
.weekday[selected="true"] {
  border: 1px solid var(--active-color);
  color: var(--background-color);
  background-color: var(--active-color);
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 1px;
  border-radius: 50%;
}
.left-arrow {
  left: -5px;
}
.right-arrow {
  right: -5px;
  transform: rotate(180deg);
}